<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346244303067-bp12dmqulm8objjs9kr43faq24mgq783.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346244303067-bp12dmqulm8objjs9kr43faq24mgq783</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>346244303067-8ei0vbn32alme0gcdrson5fn5eu0c5h4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBE6hxqqZdDE3Q3rGMSQcp1Mu0AwD38c08</string>
	<key>GCM_SENDER_ID</key>
	<string>346244303067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shadiapp.shadi</string>
	<key>PROJECT_ID</key>
	<string>shaadiapp-ac9ac</string>
	<key>STORAGE_BUCKET</key>
	<string>shaadiapp-ac9ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346244303067:ios:0f4e34a5eafe15449f64fe</string>
	<key>DATABASE_URL</key>
	<string>https://shaadiapp-ac9ac-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>